/* Styles */
/* #app{    
    min-width: auto;
    max-width: auto;
    margin: 0 auto;
} */

/* a.active{
    color: orange;
} */

nav{
    padding-top: 20px;
}

#logo-nav-bar
{
    width: 30px;
}

.overlay {
    position: fixed;  
    /* left: 50%;*/
    top: 50%; 
    opacity: .5;
    z-index: 999;
}

body {
    padding-top: 3.5rem;        
  }
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }


.form-inline
{
    align-items: baseline;
}

 .btn-log-in-out{
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;    
}


.btn-log-in-out:hover{
    background-color: #3b5998;
    color: #fff !important;
    border: 1px solid #3b5998 !important;
}

#sign-up a span {
    color: #EFE2B5;        
}

#sign-up a span:hover{
    text-decoration: underline;
}


.center-form-container
{
    width: auto;   
    background-color: #EFEFEF; 
}

.register-form > .form-row
{    
    background-color: white;
}
.bg-transparent
{
    background-color: #fff;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}  

.btn-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}


.menu-icons
{
    display: inline-block;
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 12px;
    font-size: 20px;
    vertical-align: middle;
}


@media (min-width: 767px){
    .navbar-nav > li{
        border-bottom: initial;
    }   
    
    .center-form-container{
        width: 50%;
    }
    #header-nav .identity-list-menu
    {
        padding: initial;
    }

    .bold-item-text {
       color: white;  
       font-weight: 100;
    }    

}

@media (max-width: 767px){
    
    #sign-up
    {
        width: 75%;
    }
    .bold-item-text {
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        padding: 10px 0px;
        display: inline-block;
        border-bottom: solid 1px grey;
        width: 75%;
        font-weight: 100;  
        color: white;  
    }
    
    #header-nav .list-header-menu a {
        padding: 0px 15px;
        font-size: 14px;
        color: #F0E2B5;
        font-weight: 300;
        line-height: 22px;
        vertical-align: middle;
    }
    
    #header-nav .identity-list-menu
    {
        padding: 15px 44px;
    }

    #navbarsExampleDefault .ul-header-custom
    {
        margin-left: -16px !important;        
    }
    #navbarsExampleDefault .ul-header-custom li{
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        padding-left: 16px !important;        
    }

    #username-profile
    {
        border-bottom: none;
    }

    .btn-log-in-out{        
        width: 75%;
    }
}
